{% extends "lab/base.html" %}

{% block extra_style %}
<style>
    .select2-container--default .select2-selection--single {
        height: 46px !important;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        top: 85% !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 26px !important;
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #CCC !important;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }
</style>
{% endblock  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <select class="form-control js-example-basic-single" id="customer_options" data-placeholder="Search or select customer">
                    <option></option>
                    {% for c in customers %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addCustomerModal">Add Customer</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group mb-3">
                <select class="form-control js-example-basic-single" id="doctor_options" data-placeholder="Search or select doctor">
                    <option></option>
                    {% for d in doctors %}
                    <option value="{{ d.id }}">{{ d.name }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addDoctorModal">Add Doctor</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<!-- Add Customer Modal -->
<div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCustomerModalLabel">Add New Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='POST' id="customer_form" >
                    {% csrf_token %}
                    {{ c_form.as_p }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add_customer">Save Customer</button>
            </div>

        </div>
    </div>
</div>

<!-- Add Doctor Modal -->
<div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="addDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDoctorModalLabel">Add New Doctor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="doctor_form" method="post">
                    {% csrf_token %}
                    {{ d_form.as_p }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add_doctor">Save Doctor</button>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block extra_script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();

        function addOptionToSelect(selectElement, optionText, optionValue) {
            // Create a new option element
            var newOption = new Option(optionText, optionValue, true, true);
    
            // Prepend the new option to the select element
            selectElement.prepend(newOption);
    
            // Update the Select2 dropdown (if using Select2)
            selectElement.trigger('change');
        }

        $('#add_customer').on('click', function(){
            // Validate name and phone fields
            var name = $('#addCustomerModal #id_name').val().trim();
            var phone = $('#addCustomerModal #id_phone').val().trim();
            var address = $('#addCustomerModal #id_address').val().trim();
            var gender = $('#addCustomerModal #id_gender').val().trim();

            if (!name ) {
                $('#addCustomerModal #id_name').css('border', '1px solid red');
                return;
            }else{
                $('#addCustomerModal #id_name').css('border', '');
            }
            if (!phone ) {
                $('#addCustomerModal #id_phone').css('border', '1px solid red');
                return;
            }else{
                $('#addCustomerModal #id_phone').css('border', '');
            }
            if (!gender ) {
                $('#addCustomerModal #id_gender').css('border', '1px solid red');
                return;
            }else{
                $('#addCustomerModal #id_gender').css('border', '');
            }
            if (!address ) {
                $('#addCustomerModal #id_address').css('border', '1px solid red');
                return;
            }else{
                $('#addCustomerModal #id_address').css('border', '');
            }

            var formData = $('#customer_form').serialize();
            $.ajax({
                url: "{% url 'customer' %}",  
                type: 'POST',
                data: formData,
                success: function(response) {
                    if (response.success){
                        $('#addCustomerModal').modal('hide');
                        // Add the new customer to the top of the select dropdown and make it selected
                        var selectElement = $('#customer_options');
                        addOptionToSelect(selectElement, response.customer.name, response.customer.id);
                        
                        Swal.fire({
                            title: "Success", 
                            text: response.message,  
                            icon: "success"
                        });

                    }else{
                        Swal.fire({
                            title: "Error", 
                            text: response.message,  
                            icon: "error"
                        });
                    }
                },
                error: function(error) {
                    Swal.fire({
                        title: "Error", 
                        text: error.message,  
                        icon: "error"
                    });
                }
            });
        })

        $('#add_doctor').on('click', function(){
            // Validate name and phone fields
            var name = $('#addDoctorModal #id_name').val().trim();

            if (!name ) {
                $('#addDoctorModal #id_name').css('border', '1px solid red');
                return;
            }else{
                $('#addDoctorModal #id_name').css('border', '');
            }

            var formData = $('#doctor_form').serialize();
            $.ajax({
                url: "{% url 'doctor' %}",  
                type: 'POST',
                data: formData,
                success: function(response) {
                    if (response.success){
                        $('#addDoctorModal').modal('hide');
                        // Add the new customer to the top of the select dropdown and make it selected
                        var selectElement = $('#doctor_options');
                        addOptionToSelect(selectElement, response.doctor.name, response.doctor.id);
                        
                        Swal.fire({
                            title: "Success", 
                            text: response.message,  
                            icon: "success"
                        });

                    }else{
                        Swal.fire({
                            title: "Error", 
                            text: response.message,  
                            icon: "error"
                        });
                    }
                },
                error: function(error) {
                    Swal.fire({
                        title: "Error", 
                        text: error.message,  
                        icon: "error"
                    });
                }
            });
        })



        
    });
</script>
{% endblock  %}